.bigblue {
  color: DodgerBlue;
  padding: 3px;
  font-family: Arial;
  text-align: center;
}

.responsive-img {
  width: 100%;
  height: auto;
}

.wrong-answer-popup {
  color: red;
}

.correct-answer-popup {
  color: green;
}

.video-container {
  position: relative;
  padding-bottom: 100%; /* Same size as image */  
  padding-bottom: 65%; /* 16:9 */
	height: 0;
}
.video-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
